spring:
  datasource:
    url: ${DB_URL:jdbc:mariadb://mariadb:3306/rickmorty}
    username: ${DB_USERNAME:dev}
    password: ${DB_PASSWORD:dev}

  rabbitmq:
    host: ${RABBITMQ_HOST:rabbitmq}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}

  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      timeout: 2000ms

  jpa:
    hibernate:
      ddl-auto: validate
      show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: ${SERVER_PORT:8089}

rickmorty:
  api:
    base-url: https://rickandmortyapi.com/api
    character-path: "/character"
    page-param: "page"
    retry-attempts: 3
  messaging:
    character-import-queue: rm.characters.import
